
@CHARSET "UTF-8";

.bread {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	text-align: left;
	padding-bottom: 10px;
	padding-left: 1%;
	height: 31px;
	line-height: 26px;
	padding-top: 0px;
}
a, a:focus, a:hover, a:active{
	color: #3e99ff;
}

.container{
	width:100%;
	margin-top:30px;
	margin-left:50px;
}

.smalltitle{
	font-weight:bold;
	margin-bottom: 10px; 
}
.second{
	margin-top: 60px;
}

.help-text{
	width: 320px;
	word-wrap: break-word;
	font-size: 12px;
	color: #999999;
	line-height: 30px;
	margin-left: 10px;
	float: left;
}

.text-right{

	padding-top:6px;
    padding-left: 0px;
}

.inputtx {
	width: 240px;
}
@media ( max-width :768px) {
	
	.inputtx {
		width: 160px;
	}
}

.bt{
	margin-top: 30px;
	padding-left:0;
}