/*.L5-el-mask {
    background-color: #ccc;
}

.L5-el-mask-msg {
    border-color:#6593cf;
    background-color:#c3daf9;
    background-image:url(../images/default/box/tb-blue.gif);
}
.L5-el-mask-msg div {
    background-color: #eee;
    border-color:#a3bad9;
    color:#222;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}加载部分不改变
*/

.l-mask-loading div {
    background-color:#fbfbfb;
    background-image:url(../images/default/grid/loading.gif);/*加载显示的loading图片*/
}
.l-item-disabled {
    color: gray;
}

.l-item-disabled * {
    color: gray !important;
}

.l-splitbar-proxy {
    background-color: #aaa;
}

.l-color-palette a {
    border-color:#fff;
}

.l-color-palette a:hover, .l-color-palette a.l-color-palette-sel {
    border-color:#8bb8f3;
    background-color: #eaeaea;
}

.l-color-palette em:hover, .l-color-palette span:hover{   
    background-color: #eaeaea;
}

.l-color-palette em {
    border-color:#aca899;
}

.l-ie-shadow {
    background-color:#777;
}

.l-shadow .xsmc {
    background-image: url(../images/default/shadow-c.png);
}

.l-shadow .xsml, .l-shadow .xsmr {
    background-image: url(../images/default/shadow-lr.png);
}

.l-shadow .xstl, .l-shadow .xstc,  .l-shadow .lstr, .l-shadow .xsbl, .l-shadow .xsbc, .l-shadow .xsbr{
    background-image: url(../images/default/shadow.png);
}

.loading-indicator {
    font-size: 11px;
    background-image: url(../images/default/grid/loading.gif);
}

.l-spotlight {
    background-color: #ccc;
}
/*core.css 结束*/

.l-tab-panel-header, .l-tab-panel-footer {
	background-color: #eaeaea;
	border-color:#d0d0d0;
    overflow:hidden;
    zoom:1;
}

.l-tab-panel-header, .l-tab-panel-footer {
	border-color:#d0d0d0;
}

ul.l-tab-strip-top{
    background-color:#dbdbdb;
	background-image: url(../images/gray/tabs/tab-strip-bg.gif);
	border-bottom-color:#d0d0d0;
}

ul.l-tab-strip-bottom{
    background-color:#dbdbdb;
	background-image: url(../images/gray/tabs/tab-strip-btm-bg.gif);
	border-top-color:#d0d0d0;
}

.l-tab-panel-header-plain .l-tab-strip-spacer,
.l-tab-panel-footer-plain .l-tab-strip-spacer {
    border-color:#d0d0d0;
    background-color: #eaeaea;
}

.l-tab-strip span.l-tab-strip-text {
	font:normal 11px tahoma,arial,helvetica;
	color:#333;
}

.l-tab-strip-over span.l-tab-strip-text {
	color:#111;
}

.l-tab-strip-active span.l-tab-strip-text {
	color:#333;
    font-weight:bold;
}

.l-tab-strip-disabled .l-tabs-text {
	color:#aaaaaa;
}

.l-tab-strip-top .l-tab-right, .l-tab-strip-top .l-tab-left, .l-tab-strip-top .l-tab-strip-inner{
	background-image: url(../images/gray/tabs/tabs-sprite.gif);
}

.l-tab-strip-bottom .l-tab-right {
	background-image: url(../images/gray/tabs/tab-btm-inactive-right-bg.gif);
}

.l-tab-strip-bottom .l-tab-left {
	background-image: url(../images/gray/tabs/tab-btm-inactive-left-bg.gif);
}

.l-tab-strip-bottom .l-tab-strip-active .l-tab-right {
	background-image: url(../images/gray/tabs/tab-btm-right-bg.gif);
}

.l-tab-strip-bottom .l-tab-strip-active .l-tab-left {
	background-image: url(../images/gray/tabs/tab-btm-left-bg.gif);
}

.l-tab-strip .l-tab-strip-closable a.l-tab-strip-close {
	background-image:url(../images/gray/tabs/tab-close.gif);
}

.l-tab-strip .l-tab-strip-closable a.l-tab-strip-close:hover{
	background-image:url(../images/gray/tabs/tab-close.gif);
}

.l-tab-panel-body {
    border-color:#d0d0d0;
    background-color:#fff;
}

.l-tab-panel-body-top {
    border-top: 0 none;
}

.l-tab-panel-body-bottom {
    border-bottom: 0 none;
}

.l-tab-scroller-left {
    background-image:url(../images/gray/tabs/scroll-left.gif);
    border-bottom-color:#d0d0d0;
}

.l-tab-scroller-left-over {
    background-position: 0 0;
}

.l-tab-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.l-tab-scroller-right {
    background-image:url(../images/gray/tabs/scroll-right.gif);
    border-bottom-color:#d0d0d0;
}

.l-tab-panel-bbar .l-toolbar, .l-tab-panel-tbar .l-toolbar {
    border-color:#d0d0d0;
}
/*tabs.css end*/
.l-form-field{
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.l-form-text, textarea.l-form-field{
    background-color:#fff;
    background-image:url(../images/default/form/text-bg.gif);
    border-color:#b5b8c8;
}

.l-form-select-one {
    background-color:#fff;
    border-color:#b5b8c8;
}

.l-form-check-group-label {
    border-bottom: 1px solid #d0d0d0;
    color: #333;
}

.l-editor .l-form-check-wrap {
    background-color:#fff;
}

.l-form-field-wrap .l-form-trigger{
    background-image:url(../images/default/form/trigger.gif);
    border-bottom-color:#b5b8c8;
}

.l-form-field-wrap .l-form-date-trigger{
    background-image: url(../images/default/form/date-trigger.gif);
}

.l-form-field-wrap .l-form-clear-trigger{
    background-image: url(../images/default/form/clear-trigger.gif);
}

.l-form-field-wrap .l-form-search-trigger{
    background-image: url(../images/default/form/search-trigger.gif);
}

.l-trigger-wrap-focus .l-form-trigger{
    border-bottom-color:#7eadd9;
}

.l-item-disabled .l-form-trigger-over{
    border-bottom-color:#b5b8c8;
}

.l-item-disabled .l-form-trigger-click{
    border-bottom-color:#b5b8c8;
}

.l-form-focus, textarea.l-form-focus{
	border-color:#7eadd9;
}

.l-form-invalid, textarea.l-form-invalid{
    background-color:#fff;
	background-image:url(../images/default/grid/invalid_line.gif);
	border-color:#c30;
}

.L5-webkit .l-form-invalid{
	background-color:#fee;
	border-color:#ff7870;
}

.l-form-inner-invalid, textarea.l-form-inner-invalid{
    background-color:#fff;
	background-image:url(../images/default/grid/invalid_line.gif);
}

.l-form-grow-sizer {
	font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.l-form-item {
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.l-form-invalid-msg {
    color:#c0272b;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
    background-image:url(../images/default/shared/warning.gif);
}

.l-form-empty-field {
    color:gray;
}

.l-small-editor .l-form-field {
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.L5-webkit .l-small-editor .l-form-field {
    font:normal 12px arial, tahoma, helvetica, sans-serif;
}

.l-form-invalid-icon {
    background-image:url(../images/default/form/exclamation.gif);
}

.l-fieldset {
    border-color:#b5b8c8;
}

.l-fieldset legend {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#15428B;
}
/*form.css end*/
.l-btn{
	font:normal 11px tahoma, verdana, helvetica;
}

.l-btn button{
    font:normal 11px arial,tahoma,verdana,helvetica;
    color:#333;
}

.l-btn em {
    font-style:normal;
    font-weight:normal;
}

.l-btn-tl, .l-btn-tr, .l-btn-tc, .l-btn-ml, .l-btn-mr, .l-btn-mc, .l-btn-bl, .l-btn-br, .l-btn-bc{
	background-image:url(../images/default/button/btn.gif);
}

.l-btn-click .l-btn-text, .l-btn-menu-active .l-btn-text, .l-btn-pressed .l-btn-text{
    color:#000;
}

.l-btn-disabled *{
	color:gray !important;
}

.l-btn-mc em.l-btn-arrow {
    background-image:url(../images/default/button/arrow.gif);
}

.l-btn-mc em.l-btn-split {
    background-image:url(../images/default/button/s-arrow.gif);
}

.l-btn-over .l-btn-mc em.l-btn-split, .l-btn-click .l-btn-mc em.l-btn-split, .l-btn-menu-active .l-btn-mc em.l-btn-split, .l-btn-pressed .l-btn-mc em.l-btn-split {
    background-image:url(../images/default/button/s-arrow-o.gif);
}

.l-btn-mc em.l-btn-arrow-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}

.l-btn-mc em.l-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b.gif);
}

.l-btn-over .l-btn-mc em.l-btn-split-bottom, .l-btn-click .l-btn-mc em.l-btn-split-bottom, .l-btn-menu-active .l-btn-mc em.l-btn-split-bottom, .l-btn-pressed .l-btn-mc em.l-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-bo.gif);
}

.l-btn-group-header {
    color: #666;
}

.l-btn-group-tc {
	background-image: url(../images/gray/button/group-tb.gif);
}

.l-btn-group-tl {
	background-image: url(../images/gray/button/group-cs.gif);
}

.l-btn-group-tr {
	background-image: url(../images/gray/button/group-cs.gif);
}

.l-btn-group-bc {
	background-image: url(../images/gray/button/group-tb.gif);
}

.l-btn-group-bl {
	background-image: url(../images/gray/button/group-cs.gif);
}

.l-btn-group-br {
	background-image: url(../images/gray/button/group-cs.gif);
}

.l-btn-group-ml {
	background-image: url(../images/gray/button/group-lr.gif);
}
.l-btn-group-mr {
	background-image: url(../images/gray/button/group-lr.gif);
}

.l-btn-group-notitle .l-btn-group-tc {
	background-image: url(../images/gray/button/group-tb.gif);
}
/*button.css end 未整理*/
.l-toolbar{
	border-color:#d0d0d0;
    background-color:#f0f0f0;
    background-image:url(../images/gray/toolbar/bg.gif);
}

.l-toolbar td,.l-toolbar span,.l-toolbar input,.l-toolbar div,.l-toolbar select,.l-toolbar label{
    font:normal 11px arial,tahoma, helvetica, sans-serif;
}

.l-toolbar .l-item-disabled {
	color:gray;
}

.l-toolbar .l-item-disabled * {
	color:gray;
}

.l-toolbar .l-btn-mc em.l-btn-split {
    background-image:url(../images/default/button/s-arrow-noline.gif);
}

.l-toolbar .l-btn-over .l-btn-mc em.l-btn-split, .l-toolbar .l-btn-click .l-btn-mc em.l-btn-split, 
.l-toolbar .l-btn-menu-active .l-btn-mc em.l-btn-split, .l-toolbar .l-btn-pressed .l-btn-mc em.l-btn-split 
{
    background-image:url(../images/default/button/s-arrow-o.gif);
}

.l-toolbar .l-btn-mc em.l-btn-split-bottom {
    background-image:url(../images/default/button/s-arrow-b-noline.gif);
}

.l-toolbar .l-btn-over .l-btn-mc em.l-btn-split-bottom, .l-toolbar .l-btn-click .l-btn-mc em.l-btn-split-bottom, 
.l-toolbar .l-btn-menu-active .l-btn-mc em.l-btn-split-bottom, .l-toolbar .l-btn-pressed .l-btn-mc em.l-btn-split-bottom 
{
    background-image:url(../images/default/button/s-arrow-bo.gif);
}

.l-toolbar .ltb-sep {
	background-image: url(../images/default/grid/grid-split.gif);
}

.l-tbar-page-first{
	background-image: url(../images/default/grid/page-first.gif) !important;
}

.l-tbar-loading{
	background-image: url(../images/default/grid/refresh.gif) !important;
}

.l-tbar-page-last{
	background-image: url(../images/default/grid/page-last.gif) !important;
}

.l-tbar-page-next{
	background-image: url(../images/default/grid/page-next.gif) !important;
}

.l-tbar-page-prev{
	background-image: url(../images/default/grid/page-prev.gif) !important;
}

.l-item-disabled .l-tbar-loading{
	background-image: url(../images/default/grid/loading.gif) !important;
}

.l-item-disabled .l-tbar-page-first{
	background-image: url(../images/default/grid/page-first-disabled.gif) !important;
}

.l-item-disabled .l-tbar-page-last{
	background-image: url(../images/default/grid/page-last-disabled.gif) !important;
}

.l-item-disabled .l-tbar-page-next{
	background-image: url(../images/default/grid/page-next-disabled.gif) !important;
}

.l-item-disabled .l-tbar-page-prev{
	background-image: url(../images/default/grid/page-prev-disabled.gif) !important;
}

.l-paging-info {
    color:#444;
}

.l-toolbar-more-icon {
    background-image: url(../images/gray/toolbar/more.gif) !important;
}

.l-statusbar .l-status-busy {
    background-image: url(../images/default/grid/loading.gif);
}

.l-statusbar .l-status-text-panel {
    border-color: #d0d0d0 #fff #fff #d0d0d0;
}
/*toolbar.css end*/
.l-resizable-handle {
	background-color:#fff;
}

.l-resizable-over .l-resizable-handle-east, .l-resizable-pinned .l-resizable-handle-east,
.l-resizable-over .l-resizable-handle-west, .l-resizable-pinned .l-resizable-handle-west
{
    background-image:url(../images/default/sizer/e-handle.gif);
}

.l-resizable-over .l-resizable-handle-south, .l-resizable-pinned .l-resizable-handle-south,
.l-resizable-over .l-resizable-handle-north, .l-resizable-pinned .l-resizable-handle-north
{
    background-image:url(../images/default/sizer/s-handle.gif);
}

.l-resizable-over .l-resizable-handle-north, .l-resizable-pinned .l-resizable-handle-north{
    background-image:url(../images/default/sizer/s-handle.gif);
}
.l-resizable-over .l-resizable-handle-southeast, .l-resizable-pinned .l-resizable-handle-southeast{
    background-image:url(../images/default/sizer/se-handle.gif);
}
.l-resizable-over .l-resizable-handle-northwest, .l-resizable-pinned .l-resizable-handle-northwest{
    background-image:url(../images/default/sizer/nw-handle.gif);
}
.l-resizable-over .l-resizable-handle-northeast, .l-resizable-pinned .l-resizable-handle-northeast{
    background-image:url(../images/default/sizer/ne-handle.gif);
}
.l-resizable-over .l-resizable-handle-southwest, .l-resizable-pinned .l-resizable-handle-southwest{
    background-image:url(../images/default/sizer/sw-handle.gif);
}
.l-resizable-proxy{
    border-color:#3b5a82;
}
.l-resizable-overlay{
    background-color:#fff;
}
/*resizable.css end*/
.l-grid3 {
    background-color:#fff;
}

.l-grid-panel .l-panel-mc .l-panel-body {
    border-color:#d0d0d0;
}

.l-grid3-hd-row td, .l-grid3-row td, .l-grid3-summary-row td{
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.l-grid3-hd-row td {
    border-left-color:#eee;
    border-right-color:#d0d0d0;
}

.l-grid-row-loading {
    background-color: #fff;
    background-image:url(../images/default/shared/loading-balls.gif);
}

.l-grid3-row {
    border-color:#ededed;
    border-top-color:#fff;
}

.l-grid3-row-alt{
	background-color:#fafafa;
}

.l-grid3-row-over {
	border-color:#ddd;
    background-color:#efefef;
    background-image:url(../images/default/grid/row-over.gif);
}

.l-grid3-resize-proxy {
    background-color:#777;
}

.l-grid3-resize-marker {
    background-color:#777;
}

.l-grid3-header{
    background-color:#f9f9f9;
	background-image:url(../images/default/grid/grid3-hrow.gif);
}

.l-grid3-header-pop {
    border-left-color:#d0d0d0;
}

.l-grid3-header-pop-inner {
    border-left-color:#eee;
    background-image:url(../images/default/grid/hd-pop.gif);
}

td.l-grid3-hd-over, td.sort-desc, td.sort-asc, td.l-grid3-hd-menu-open {
    border-left-color:#aaccf6;
    border-right-color:#aaccf6;
}

td.l-grid3-hd-over .l-grid3-hd-inner, td.sort-desc .l-grid3-hd-inner, td.sort-asc .l-grid3-hd-inner, td.l-grid3-hd-menu-open .l-grid3-hd-inner {
    background-color:#ebf3fd;
    background-image:url(../images/default/grid/grid3-hrow-over.gif);

}

.sort-asc .l-grid3-sort-icon {
	background-image: url(../images/default/grid/sort_asc.gif);
}

.sort-desc .l-grid3-sort-icon {
	background-image: url(../images/default/grid/sort_desc.gif);
}

.l-grid3-cell-text, .l-grid3-hd-text {
	color:#000;
}

.l-grid3-split {
	background-image: url(../images/default/grid/grid-split.gif);
}

.l-grid3-hd-text {
	color:#333;
}

.l-dd-drag-proxy .l-grid3-hd-inner{
    background-color:#ebf3fd;
	background-image:url(../images/default/grid/grid3-hrow-over.gif);
	border-color:#aaccf6;
}

.col-move-top{
	background-image:url(../images/default/grid/col-move-top.gif);
}

.col-move-bottom{
	background-image:url(../images/default/grid/col-move-bottom.gif);
}

.l-grid3-row-selected {
	background-color: #dfe8f6 !important;
	background-image: none;
	border-color:#a3bae9;
}

.l-grid3-cell-selected{
	background-color: #b8cfee !important;
	color:#000;
}

.l-grid3-cell-selected span{
	color:#000 !important;
}

.l-grid3-cell-selected .l-grid3-cell-text{
	color:#000;
}

.l-grid3-locked td.l-grid3-row-marker, .l-grid3-locked .l-grid3-row-selected td.l-grid3-row-marker{
    background-color:#ebeadb !important;
    background-image:url(../images/default/grid/grid-hrow.gif) !important;
    color:#000;
    border-top-color:#fff;
    border-right-color:#6fa0df !important;
}

.l-grid3-locked td.l-grid3-row-marker div, .l-grid3-locked .l-grid3-row-selected td.l-grid3-row-marker div{
    color:#333 !important;
}

.l-grid3-dirty-cell {
    background-image:url(../images/default/grid/dirty.gif);
}

.l-grid3-topbar, .l-grid3-bottombar{
	font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.l-grid3-bottombar .l-toolbar{
	border-top-color:#a9bfd3;
}

.l-props-grid .l-grid3-td-name .l-grid3-cell-inner{
	background-image:url(../images/default/grid/grid3-special-col-bg.gif) !important;
    color:#000 !important;
}

.l-props-grid .l-grid3-body .l-grid3-td-name{
    background-color:#fff !important;
    border-right-color:#eee;
}

.lg-hmenu-sort-asc .l-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-asc.gif);
}

.lg-hmenu-sort-desc .l-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-desc.gif);
}

.lg-hmenu-lock .l-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-lock.gif);
}

.lg-hmenu-unlock .l-menu-item-icon{
	background-image: url(../images/default/grid/hmenu-unlock.gif);
}

.l-grid3-hd-btn {
    background-color:#c3daf9;
    background-image:url(../images/default/grid/grid3-hd-btn.gif);
}

.l-grid3-body .l-grid3-td-expander {
    background-image:url(../images/default/grid/grid3-special-col-bg.gif);
}

.l-grid3-row-expander {
    background-image:url(../images/default/grid/row-expand-sprite.gif);
}

.l-grid3-body .l-grid3-td-checker {
    background-image: url(../images/default/grid/grid3-special-col-bg.gif);
}

.l-grid3-row-checker, .l-grid3-hd-checker {
    background-image:url(../images/default/grid/row-check-sprite.gif);
}

.l-grid3-body .l-grid3-td-numberer {
    background-image:url(../images/default/grid/grid3-special-col-bg.gif);
}

.l-grid3-body .l-grid3-td-numberer .l-grid3-cell-inner {
	color:#444;
}

.l-grid3-body .l-grid3-td-row-icon {
    background-image:url(../images/default/grid/grid3-special-col-bg.gif);
}

.l-grid3-body .l-grid3-row-selected .l-grid3-td-numberer,
.l-grid3-body .l-grid3-row-selected .l-grid3-td-checker,
.l-grid3-body .l-grid3-row-selected .l-grid3-td-expander {
	background-image:url(../images/default/grid/grid3-special-col-sel-bg.gif);
}

.l-grid3-check-col {
	background-image:url(../images/default/menu/unchecked.gif);
}

.l-grid3-check-col-on {
	background-image:url(../images/default/menu/checked.gif);
}

.l-grid-group, .l-grid-group-body, .l-grid-group-hd {
    zoom:1;
}

.l-grid-group-hd {
    border-bottom-color:#d0d0d0;
}

.l-grid-group-hd div.l-grid-group-title {
    background-image:url(../images/default/grid/group-collapse.gif);
    color:#3764a0;
    font:bold 11px tahoma, arial, helvetica, sans-serif;
}

.l-grid-group-collapsed .l-grid-group-hd div.l-grid-group-title {
    background-image:url(../images/default/grid/group-expand.gif);
}

.l-group-by-icon {
    background-image:url(../images/default/grid/group-by.gif);
}

.l-cols-icon {
    background-image:url(../images/default/grid/columns.gif);
}

.l-show-groups-icon {
    background-image:url(../images/default/grid/group-by.gif);
}

.l-grid-empty {
    color:gray;
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}

.l-grid-with-col-lines .l-grid3-row td.l-grid3-cell {
    border-right-color:#ededed;
}

.l-grid-with-col-lines .l-grid3-row{
    border-top-color:#ededed;
}

.l-grid-with-col-lines .l-grid3-row-selected {
	border-top-color:#a3bae9;
}
/*grid.css end*/
.l-dd-drag-ghost{
	color:#000;
	font: normal 11px arial, helvetica, sans-serif;
    border-color: #ddd #bbb #bbb #ddd;
	background-color:#fff;
}

.l-dd-drop-nodrop .l-dd-drop-icon{
  background-image: url(../images/default/dd/drop-no.gif);
}

.l-dd-drop-ok .l-dd-drop-icon{
  background-image: url(../images/default/dd/drop-yes.gif);
}

.l-dd-drop-ok-add .l-dd-drop-icon{
  background-image: url(../images/default/dd/drop-add.gif);
}

.l-view-selector {
    background-color:#c3daf9;
    border-color:#3399bb;
}
/*dd.css end*/
.l-tree-node-expanded .l-tree-node-icon{
	background-image:url(../images/default/tree/folder-open.gif);
}

.l-tree-node-leaf .l-tree-node-icon{
	background-image:url(../images/default/tree/leaf.gif);
}

.l-tree-node-collapsed .l-tree-node-icon{
	background-image:url(../images/default/tree/folder.gif);
}

.l-tree-node-loading .l-tree-node-icon{
	background-image:url(../images/default/tree/loading.gif) !important;
}

.l-tree-node .l-tree-node-inline-icon {
    background-image: none;
}

.l-tree-node-loading a span{
	 font-style: italic;
	 color:#444444;
}

.L5-ie .l-tree-node-el input {
    width:15px;
    height:15px;
}

.l-tree-lines .l-tree-elbow{
	background-image:url(../images/default/tree/elbow.gif);
}

.l-tree-lines .l-tree-elbow-plus{
	background-image:url(../images/default/tree/elbow-plus.gif);
}

.l-tree-lines .l-tree-elbow-minus{
	background-image:url(../images/default/tree/elbow-minus.gif);
}

.l-tree-lines .l-tree-elbow-end{
	background-image:url(../images/default/tree/elbow-end.gif);
}

.l-tree-lines .l-tree-elbow-end-plus{
	background-image:url(../images/default/tree/elbow-end-plus.gif);
}

.l-tree-lines .l-tree-elbow-end-minus{
	background-image:url(../images/default/tree/elbow-end-minus.gif);
}

.l-tree-lines .l-tree-elbow-line{
	background-image:url(../images/default/tree/elbow-line.gif);
}

.l-tree-no-lines .l-tree-elbow-plus{
	background-image:url(../images/default/tree/elbow-plus-nl.gif);
}

.l-tree-no-lines .l-tree-elbow-minus{
	background-image:url(../images/default/tree/elbow-minus-nl.gif);
}

.l-tree-no-lines .l-tree-elbow-end-plus{
	background-image:url(../images/default/tree/elbow-end-plus-nl.gif);
}

.l-tree-no-lines .l-tree-elbow-end-minus{
	background-image:url(../images/default/tree/elbow-end-minus-nl.gif);
}

.l-tree-arrows .l-tree-elbow-plus{
    background-image:url(../images/default/tree/arrows.gif);
}

.l-tree-arrows .l-tree-elbow-minus{
    background-image:url(../images/default/tree/arrows.gif);
}

.l-tree-arrows .l-tree-elbow-end-plus{
    background-image:url(../images/default/tree/arrows.gif);
}

.l-tree-arrows .l-tree-elbow-end-minus{
    background-image:url(../images/default/tree/arrows.gif);
}

.l-tree-node{
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
}

.l-tree-node a, .l-dd-drag-ghost a{
	color:#000;
}

.l-tree-node a span, .l-dd-drag-ghost a span{
	color:#000;
}

.l-tree-node .l-tree-node-disabled a span{
	color:gray !important;
}

.l-tree-node div.l-tree-drag-insert-below{
 	 border-bottom-color:#36c;
}

.l-tree-node div.l-tree-drag-insert-above{
	 border-top-color:#36c;
}

.l-tree-dd-underline .l-tree-node div.l-tree-drag-insert-below a{
 	 border-bottom-color:#36c;
}

.l-tree-dd-underline .l-tree-node div.l-tree-drag-insert-above a{
	 border-top-color:#36c;
}

.l-tree-node .l-tree-drag-append a span{
	 background-color:#ddd;
	 border-color:gray;
}

.l-tree-node .l-tree-node-over {
	background-color: #eee;
}

.l-tree-node .l-tree-selected {
	background-color: #d9e8fb;
}

.l-tree-drop-ok-append .l-dd-drop-icon{
  background-image: url(../images/default/tree/drop-add.gif);
}

.l-tree-drop-ok-above .l-dd-drop-icon{
  background-image: url(../images/default/tree/drop-over.gif);
}

.l-tree-drop-ok-below .l-dd-drop-icon{
  background-image: url(../images/default/tree/drop-under.gif);
}

.l-tree-drop-ok-between .l-dd-drop-icon{
  background-image: url(../images/default/tree/drop-between.gif);
}
/*tree.css end*/
.l-date-picker {
    border-color: #1b376c;
    background-color:#fff;
}

.l-date-middle,.l-date-left,.l-date-right {
	background-image: url(../images/default/shared/hd-sprite.gif);
	color:#fff;
	font:bold 11px "sans serif", tahoma, verdana, helvetica;
}

.l-date-middle .l-btn .l-btn-text {
    color:#fff;
}

.l-date-middle .l-btn-mc em.l-btn-arrow {
    background-image:url(../images/gray/toolbar/btn-arrow-light.gif);
}

.l-date-right a {
    background-image: url(../images/default/shared/right-btn.gif);
}

.l-date-left a{
	background-image: url(../images/default/shared/left-btn.gif);
}

.l-date-inner th {
    background-color:#dfecfb;
    background-image:url(../images/default/shared/glass-bg.gif);
	border-bottom-color:#a3bad9;
    font:normal 10px arial, helvetica,tahoma,sans-serif;
	color:#233d6d;
}

.l-date-inner td {
    border-color:#fff;
}

.l-date-inner a {
    font:normal 11px arial, helvetica,tahoma,sans-serif;
    color:#000;
}

.l-date-inner .l-date-active{
	color:#000;
}

.l-date-inner .l-date-selected a{
    background-color:#dfecfb;
	background-image:url(../images/default/shared/glass-bg.gif);
	border-color:#8db2e3;
}

.l-date-inner .l-date-today a{
	border-color:darkred;
}

.l-date-inner .l-date-selected span{
    font-weight:bold;
}

.l-date-inner .l-date-prevday a,.l-date-inner .l-date-nextday a {
	color:#aaa;
}

.l-date-bottom {
    border-top-color:#a3bad9;
    background-color:#dfecfb;
    background-image:url(../images/default/shared/glass-bg.gif);
}

.l-date-inner a:hover, .l-date-inner .l-date-disabled a:hover{
    color:#000;
    background-color:#ddecfe;
}

.l-date-inner .l-date-disabled a {
	background-color:#eee;
	color:#bbb;
}

.l-date-mmenu{
    background-color:#eee !important;
}

.l-date-mmenu .l-menu-item {
	font-size:10px;
	color:#000;
}

.l-date-mp {
	background-color:#fff;
}

.l-date-mp td {
	font:normal 11px arial, helvetica,tahoma,sans-serif;
}

.l-date-mp-btns button {
	background-color:#083772;
	color:#fff;
	border-color: #3366cc #000055 #000055 #3366cc;
	font:normal 11px arial, helvetica,tahoma,sans-serif;
}

.l-date-mp-btns {
    background-color: #dfecfb;
	background-image: url(../images/default/shared/glass-bg.gif);
}

.l-date-mp-btns td {
	border-top-color: #c5d2df;
}

td.l-date-mp-month a,td.l-date-mp-year a {
	color:#333;
}

td.l-date-mp-month a:hover,td.l-date-mp-year a:hover {
	color:#333;
	background-color: #ddecfe;
}

td.l-date-mp-sel a {
    background-color: #dfecfb;
	background-image: url(../images/default/shared/glass-bg.gif);
	border-color:#8db2e3;
}

.l-date-mp-ybtn a {
    background-image:url(../images/default/panel/tool-sprites.gif);
}

td.l-date-mp-sep {
   border-right-color:#c5d2df;
}
/*date.css end*/
.l-tip .l-tip-close{
	background-image: url(../images/default/qtip/close.gif);
}

.l-tip .l-tip-tc, .l-tip .l-tip-tl, .l-tip .l-tip-tr, .l-tip .l-tip-bc, .l-tip .l-tip-bl, .l-tip .l-tip-br, .l-tip .l-tip-ml, .l-tip .l-tip-mr {
	background-image: url(../images/default/qtip/tip-sprite.gif);
}

.l-tip .l-tip-mc {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
}
.l-tip .l-tip-ml {
	background-color: #fff;
}

.l-tip .l-tip-header-text {
    font: bold 11px tahoma,arial,helvetica,sans-serif;
    color:#444;
}

.l-tip .l-tip-body {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    color:#444;
}

.l-form-invalid-tip .l-tip-tc, .l-form-invalid-tip .l-tip-tl, .l-form-invalid-tip .l-tip-tr, .l-form-invalid-tip .l-tip-bc,
.l-form-invalid-tip .l-tip-bl, .l-form-invalid-tip .l-tip-br, .l-form-invalid-tip .l-tip-ml, .l-form-invalid-tip .l-tip-mr
{
	background-image: url(../images/default/form/error-tip-corners.gif);
}

.l-form-invalid-tip .l-tip-body {
    background-image:url(../images/default/form/exclamation.gif);
}

.l-tip-anchor {
    background-image:url(../images/default/qtip/tip-anchor-sprite.gif);
}
/*qtips.css end*/
.l-menu {
    background-color:#f0f0f0;
	background-image:url(../images/default/menu/menu.gif);
}

.l-menu-floating{
    border-color:#718bb7;
}

.l-menu-nosep {
	background-image:none;
}

.l-menu-list-item{
	font:normal 11px arial,tahoma,sans-serif;
}

.l-menu-item-arrow{
	background-image:url(../images/default/menu/menu-parent.gif);
}

.l-menu-sep {
    background-color:#e0e0e0;
	border-bottom-color:#fff;
}

a.l-menu-item {
	color:#222;
}

.l-menu-item-active {
    background-image: url(../images/default/menu/item-over.gif);
	background-color: #dbecf4;
    border-color:#aaccf6;
}

.l-menu-item-active a.l-menu-item {
	border-color:#aaccf6;
}

.l-menu-check-item .l-menu-item-icon{
	background-image:url(../images/default/menu/unchecked.gif);
}

.l-menu-item-checked .l-menu-item-icon{
	background-image:url(../images/default/menu/checked.gif);
}

.l-menu-item-checked .l-menu-group-item .l-menu-item-icon{
    background-image:url(../images/default/menu/group-checked.gif);
}

.l-menu-group-item .l-menu-item-icon{
    background-image:none;
}

.l-menu-plain {
	background-color:#fff !important;
}

.l-menu .l-date-picker{
    border-color:#a3bad9;
}

.l-cycle-menu .l-menu-item-checked {
    border-color:#a3bae9 !important;
    background-color:#def8f6;
}

.l-menu-scroller-top {
    background-image:url(../images/default/layout/mini-top.gif);
}

.l-menu-scroller-bottom {
    background-image:url(../images/default/layout/mini-bottom.gif);
}
/*menu.css end*/
.l-box-tl {
	background-image: url(../images/default/box/corners.gif);
}

.l-box-tc {
	background-image: url(../images/default/box/tb.gif);
}

.l-box-tr {
	background-image: url(../images/default/box/corners.gif);
}

.l-box-ml {
	background-image: url(../images/default/box/l.gif);
}

.l-box-mc {
	background-color: #eee;
    background-image: url(../images/default/box/tb.gif);
	font-family: "Myriad Pro","Myriad Web","Tahoma","Helvetica","Arial",sans-serif;
	color: #393939;
	font-size: 12px;
}

.l-box-mc h3 {
	font-size: 14px;
	font-weight: bold;
}

.l-box-mr {
	background-image: url(../images/default/box/r.gif);
}

.l-box-bl {
	background-image: url(../images/default/box/corners.gif);
}

.l-box-bc {
	background-image: url(../images/default/box/tb.gif);
}

.l-box-br {
	background-image: url(../images/default/box/corners.gif);
}

.l-box-blue .l-box-bl, .l-box-blue .l-box-br, .l-box-blue .l-box-tl, .l-box-blue .l-box-tr {
	background-image: url(../images/default/box/corners-blue.gif);
}

.l-box-blue .l-box-bc, .l-box-blue .l-box-mc, .l-box-blue .l-box-tc {
	background-image: url(../images/default/box/tb-blue.gif);
}

.l-box-blue .l-box-mc {
	background-color: #c3daf9;
}

.l-box-blue .l-box-mc h3 {
	color: #17385b;
}

.l-box-blue .l-box-ml {
	background-image: url(../images/default/box/l-blue.gif);
}

.l-box-blue .l-box-mr {
	background-image: url(../images/default/box/r-blue.gif);
}
/*box.css end*/
#x-debug-browser .l-tree .l-tree-node a span {
    color:#222297;
    font-size:11px;
    font-family:"monotype","courier new",sans-serif;
}

#x-debug-browser .l-tree a i {
    color:#ff4545;
    font-style:normal;
}

#x-debug-browser .l-tree a em {
    color:#999;
}

#x-debug-browser .l-tree .l-tree-node .l-tree-selected a span{
    background-color:#c3daf9;
}
/*debug.css end*/
.l-combo-list {
    border-color:#98c0f4;
    background-color:#ddecfe;
    font:normal 12px tahoma, arial, helvetica, sans-serif;
}

.l-combo-list-inner {
    background-color:#fff;
}

.l-combo-list-hd {
    font:bold 11px tahoma, arial, helvetica, sans-serif;
    color:#333;
    background-image: url(../images/default/layout/panel-title-light-bg.gif);
    border-bottom-color:#98c0f4;
}

.l-resizable-pinned .l-combo-list-inner {
    border-bottom-color:#98c0f4;
}

.l-combo-list-item {
    border-color:#fff;
}

.l-combo-list .l-combo-selected{
	border-color:#a3bae9 !important;
    background-color:#f0f0f0;
}

.l-combo-list .l-toolbar {
    border-top-color:#98c0f4;
}

.l-combo-list-small {
    font:normal 11px tahoma, arial, helvetica, sans-serif;
}
/*combo.css end*/
.l-panel {
    border-color: #d0d0d0;
}

.l-panel-header {
    color:#333;
	font-weight:bold; 
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
    border-color:#d0d0d0;
    background-image: url(../images/gray/panel/white-top-bottom.gif);
}

.l-panel-body {
    border-color:#d0d0d0;
    background-color:#fff;
}

.l-panel-bbar .l-toolbar, .l-panel-tbar .l-toolbar {
    border-color:#d0d0d0;
}

.l-panel-tbar-noheader .l-toolbar, .l-panel-mc .l-panel-tbar .l-toolbar {
    border-top-color:#d0d0d0;
}

.l-panel-body-noheader, .l-panel-mc .l-panel-body {
    border-top-color:#d0d0d0;
}

.l-panel-tl .l-panel-header {
    color:#333;
	font:bold 11px tahoma,arial,verdana,sans-serif;
}

.l-panel-tc {
	background-image: url(../images/gray/panel/top-bottom.gif);
}

.l-panel-tl, .l-panel-tr, .l-panel-bl,  .l-panel-br{
	background-image: url(../images/gray/panel/corners-sprite.gif);
    border-bottom-color:#d0d0d0;
}

.l-panel-bc {
	background-image: url(../images/gray/panel/top-bottom.gif);
}

.l-panel-mc {
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    background-color:#f1f1f1;
}

.l-panel-ml {
	background-color: #fff;
    background-image:url(../images/gray/panel/left-right.gif);
}

.l-panel-mr {
	background-image: url(../images/gray/panel/left-right.gif);
}

.l-tool {
    background-image:url(../images/gray/panel/tool-sprites.gif);
}

.l-panel-ghost {
    background-color:#f2f2f2;
}

.l-panel-ghost ul {
    border-color:#d0d0d0;
}

.l-panel-dd-spacer {
    border-color:#d0d0d0;
}

.l-panel-fbar td,.l-panel-fbar span,.l-panel-fbar input,.l-panel-fbar div,.l-panel-fbar select,.l-panel-fbar label{
    font:normal 11px arial,tahoma, helvetica, sans-serif;
}
/*panel.css end*/
.l-window-proxy {
    background-color:#fcfcfc;
    border-color:#d0d0d0;
}

.l-window-tl .l-window-header {
    color:#555;
	font:bold 11px tahoma,arial,verdana,sans-serif;
}

.l-window-tc {
	background-image: url(../images/gray/window/top-bottom.png);
}

.l-window-tl {
	background-image: url(../images/gray/window/left-corners.png);
}

.l-window-tr {
	background-image: url(../images/gray/window/right-corners.png);
}

.l-window-bc {
	background-image: url(../images/gray/window/top-bottom.png);
}

.l-window-bl {
	background-image: url(../images/gray/window/left-corners.png);
}

.l-window-br {
	background-image: url(../images/gray/window/right-corners.png);
}

.l-window-mc {
    border-color:#d0d0d0;
    font: normal 11px tahoma,arial,helvetica,sans-serif;
    background-color:#e8e8e8;
}

.l-window-ml {
	background-image: url(../images/gray/window/left-right.png);
}

.l-window-mr {
	background-image: url(../images/gray/window/left-right.png);
}

.l-window-maximized .l-window-tc {
    background-color:#fff;
}

.l-window-bbar .l-toolbar {
    border-top-color:#d0d0d0;
}

.l-panel-ghost .l-window-tl {
    border-bottom-color:#d0d0d0;
}

.l-panel-collapsed .l-window-tl {
    border-bottom-color:#d0d0d0;
}

.l-dlg-mask{
   background-color:#ccc;
}

.l-window-plain .l-window-mc {
    background-color: #E8E8E8;
    border-color: #D0D0D0 #EEEEEE #EEEEEE #D0D0D0;
}

.l-window-plain .l-window-body {
    border-color: #EEEEEE #D0D0D0 #D0D0D0 #EEEEEE;
}

body.l-body-masked .l-window-plain .l-window-mc {
    background-color: #E4E4E4;
}
.l-html-editor-wrap {
    border-color:#a9bfd3;
    background-color:#fff;
}
.l-html-editor-tb .l-btn-text {
    background-image:url(../images/default/editor/tb-sprite.gif);
}
.l-panel-noborder .l-panel-header-noborder {
    border-bottom-color:#d0d0d0;
}

.l-panel-noborder .l-panel-tbar-noborder .l-toolbar {
    border-bottom-color:#d0d0d0;
}

.l-panel-noborder .l-panel-bbar-noborder .l-toolbar {
    border-top-color:#d0d0d0;
}

.l-tab-panel-bbar-noborder .l-toolbar {
    border-top-color:#d0d0d0;
}

.l-tab-panel-tbar-noborder .l-toolbar {
    border-bottom-color:#d0d0d0;
}
.l-border-layout-ct {
    background-color:#f0f0f0;
}

.l-accordion-hd {
	color:#222;
    font-weight:normal;
    background-image: url(../images/gray/panel/light-hd.gif);
}

.l-layout-collapsed{
    background-color:#d2e0f2;
	border-color:#98c0f4;
}

.l-layout-collapsed-over{
    background-color:#d9e8fb;
}

.l-layout-split-west .l-layout-mini {
    background-image:url(../images/default/layout/mini-left.gif);
}
.l-layout-split-east .l-layout-mini {
    background-image:url(../images/default/layout/mini-right.gif);
}
.l-layout-split-north .l-layout-mini {
    background-image:url(../images/default/layout/mini-top.gif);
}
.l-layout-split-south .l-layout-mini {
    background-image:url(../images/default/layout/mini-bottom.gif);
}

.l-layout-cmini-west .l-layout-mini {
    background-image:url(../images/default/layout/mini-right.gif);
}

.l-layout-cmini-east .l-layout-mini {
    background-image:url(../images/default/layout/mini-left.gif);
}

.l-layout-cmini-north .l-layout-mini {
    background-image:url(../images/default/layout/mini-bottom.gif);
}

.l-layout-cmini-south .l-layout-mini {
    background-image:url(../images/default/layout/mini-top.gif);
}
.l-progress-wrap {
    border-color:#6593cf;
}

.l-progress-inner {
    background-color:#e0e8f3;
    background-image:url(../images/default/qtip/bg.gif);
}

.l-progress-bar {
    background-color:#9cbfee;
    background-image:url(../images/default/progress/progress-bg.gif);
    border-top-color:#d1e4fd;
    border-bottom-color:#7fa9e4;
    border-right-color:#7fa9e4;
}

.l-progress-text {
    font-size:11px;
    font-weight:bold;
    color:#fff;
}

.l-progress-text-back {
    color:#396095;
}
.l-list-header{
    background-color:#f9f9f9;
	background-image:url(../images/default/grid/grid3-hrow.gif);
}

.l-list-header-inner div em {
    border-left-color:#ddd;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.l-list-body dt em {
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.l-list-over {
    background-color:#eee;
}

.l-list-selected {
    background-color:#f0f0f0;
}

.l-list-resizer {
    border-left-color:#555;
    border-right-color:#555;
}

.l-list-header-inner em.sort-asc, .l-list-header-inner em.sort-desc {
    background-image:url(../images/default/grid/sort-hd.gif);
    border-color: #d0d0d0;
}
.l-slider-horz, .l-slider-horz .l-slider-end, .l-slider-horz .l-slider-inner {
    background-image:url(../images/default/slider/slider-bg.png);
}

.l-slider-horz .l-slider-thumb {
    background-image:url(../images/default/slider/slider-thumb.png);
}

.l-slider-vert, .l-slider-vert .l-slider-end, .l-slider-vert .l-slider-inner {
    background-image:url(../images/default/slider/slider-v-bg.png);
}

.l-slider-vert .l-slider-thumb {
    background-image:url(../images/default/slider/slider-v-thumb.png);
}
.l-window-dlg .L5-mb-text,
.l-window-dlg .l-window-header-text {
    font-size:12px;
}

.l-window-dlg .L5-mb-textarea {
    font:normal 12px tahoma,arial,helvetica,sans-serif;
}

.l-window-dlg .l-msg-box-wait {
    background-image:url(../images/default/grid/loading.gif);
}

.l-window-dlg .L5-mb-info {
    background-image:url(../images/default/window/icon-info.gif);
}

.l-window-dlg .L5-mb-warning {
    background-image:url(../images/default/window/icon-warning.gif);
}

.l-window-dlg .L5-mb-question {
    background-image:url(../images/default/window/icon-question.gif);
}

.l-window-dlg .L5-mb-error {
    background-image:url(../images/default/window/icon-error.gif);
}
/*window.css end*/