* {
	padding: 0;
	margin: 0;
	list-style: none
}
html,body {
    font-size: 12px;
    font-family: "宋体";
}
.tab{
	float: left;
	margin-bottom: 2px;
	text-align: center;
}
#tab1{
	width: 20%;
}
#tab2{
    width:20%;
}
#tab3{
    width:30%;
}
#tab4{
    width: 30%;
}
#tabContainer a {
	color:#A3A3A3;
	display: block;
    padding:5px 6px 0px 6px;
	height:20px;
	border-bottom: 1px solid #CACACA;
	text-decoration: none;
}

#tabContainer a.on {
	color:#464646;
	background: #EEE;
	border: 1px solid #CACACA;
	border-bottom: 0px solid #CACACA;
}

#tabs {
	margin: 0px 5px 5px 5px;
	padding: 0px;
	width: 100%;
}

a:link,a:visited,a:hover,a:active {
	color: black;
}

#con1,#con2,#con3,#con4{
	margin-top: 10px;
}

.con1,.con2 {
	width: 100%;
	margin: 5px 0px 8px 0px;
}

.con label {
	height: 18px;
	vertical-align: middle;
	display: inline-block;
}
.con1 label{
    height: 18px;
    line-height: 18px;
    width: 42px;
    display: inline-block;
    text-align: right;
}
.con input {
	text-align: left;
	height: 24px;
	line-height:24px;
}
.propertyBodyArea{
	padding:5px 10px 5px 10px;
}
.con1 input[type='text']{
	width:162px;
}
.con2 input[type='text']{
	width:140px;
}
.con input[type='text']{
	background:#fff;
	border:1px solid #CACACA;
}
.con input[type='button']{
    position:absolute;
    right:16px;
    width:26px;
    height:26px;
    line-height:26px;
    background:#EEE url(../images/skin_icons.png) no-repeat -62px -128px;
    border:1px solid #B6B6B6;
}