html,body,tbody,a,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
{
    margin: 0;
    padding: 0;
}
input,textarea{
	white-space : nowrap;
	overflow : hidden;
	text-overflow : ellipsis;
}
#SD_HideSelect ,#SD_HideSelect1
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:999;
    width:100%;
    height:100%;
    background:#FFFFFF;
    border:none;
    filter:alpha(opacity=0);
    -moz-opacity:0;opacity:0;
}
#SD_HideSelect1{
	z-index: 1000;
}
* html #SD_HideSelect ,* html #SD_HideSelect1
{
    position:absolute;
    height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#SD_overlay ,#SD_overlay1 
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:1000;
    width:100%;
    height:100%;
}
* html #SD_overlay ,* html #SD_overlay1
{
    position:absolute;
    height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
.SD_overlayBG ,.SD_overlayBG1
{
    background:#000000;
    filter:alpha(opacity=50);
    -moz-opacity:0.50;opacity:0.50;
}
.SD_overlayBG2 ,.SD_overlayBG21
{
    background:#FFFFFF;
    filter:alpha(opacity=20);
    -moz-opacity:0.20;
    opacity:0.20;
}
.SD_bg ,.SD_bg1
{
    filter:alpha(opacity=0);
    -moz-opacity:0.30;
    opacity:0;
    overflow:hidden;
}
#SD_window ,#SD_window1
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    overflow:hidden;
    display:none;
    
    box-shadow: 0px 0px 12px 0px #808080;
    -moz-box-shadow: 0px 0px 12px #808080;
	-webkit-box-shadow: 0px 0px 12px #808080;
	
    background: #FFF;
    border:1px solid #B5B5B5;
	/* background-color: #D8D8D8; */
}
#SD_container ,#SD_container_alert,#SD_container1,#SD_container_alert1
{
    position:relative;
    z-index:1005;
    background:#FFFFFF;
}
#SD_container h3 ,#SD_container_alert h3,#SD_container1 h3,#SD_container_alert1 h3
{
    height:40px;
    line-height:40px;
    background:#EEE;
    text-indent:20px;
/*     color:#FCFCFC; */
    font-family: microsoft Yahei;
    font-size:16px;
    cursor:default;
    position:relative;
    top:0px;
    font-weight: normal;
    border-bottom:1px solid #CACACA;
}
#SD_body ,#SD_body1
{
    padding:25px 5px;
    white-space:normal;
    font-size: 12px;
    top: 0px;
	position: relative;
}
#SD_body, #SD_body div, #SD_body p, #SD_body td 
{
    color:#000000;
}
#SD_body1, #SD_body1 div, #SD_body1 p, #SD_body1 td 
{
    color:#000000;
}
.SD_table,.SD_table1{
    width: 100%;
    height:100%;
}
#SD_button ,#SD_button1
{
    padding:4px 0px;
    background:#F6F6F6;
    text-align:right;
    display:none;
    border-top:1px solid #C5C5C5;
}
#SD_button a ,#SD_button a1
{
    margin-right:10px;
    padding:4px 10px 3px;
    background:#0085C3;
    border-width:1px;
    border-style:solid;
    border-color:#D8DFEA;
    white-space:nowrap;
    display:inline-block;
    color:#FFFFFF;
    font-size:12px;
    text-align:center;
    cursor:pointer;
}
#SD_button a:hover ,#SD_button1 a:hover 
{
    text-decoration:none;
}
#SD_close ,#SD_close1
{
    position:absolute;
    top:11px;
    right:11px;
    z-index:1005;
    width:16px;
    height:16px;
    border:none;
    background:url(../images/skin_icons.png) no-repeat -112px 0px;
    display:none;
}
#SD_close:hover ,#SD_close1:hover
{
    /* background-position:-24px 0px; */
}
#LD_HideSelect ,#LD_HideSelect1
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:999;
    width:100%;
    height:100%;
    background:#FFFFFF;
    border:none;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}
* html #LD_HideSelect ,* html #LD_HideSelect1
{
    position:absolute;
    height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#LD_overlay ,#LD_overlay1
{
    position:fixed;
    top:0px;
    left:0px;
    z-index:1000;
    width:100%;
    height:100%;
}
* html #LD_overlay,* html #LD_overlay1 
{
    position:absolute;
    height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
.LD_overlayBG ,.LD_overlayBG1
{
    background:#000000;
    filter:alpha(opacity=50);
    -moz-opacity:0.50;
    opacity:0.50;
}
.LD_bg ,.LD_bg1
{
    background:#333333;
    filter:alpha(opacity=30);
    -moz-opacity:0.30;
    opacity:0.30;
    width:9px;
    height:9px;
    overflow:hidden;
}
#LD_window ,#LD_window1
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1001;
    overflow:hidden;
    display:none;
}
#LD_container,#LD_container1 
{
    position:relative;
    z-index:1006;
    background:#FFFFFF url(../images/loading.gif) no-repeat 10px 10px;
    border:1px solid #888888;
    float:left;
    padding:10px;
    white-space:nowrap;
    display:inline-block;
}
#LD_message ,#LD_message1
{
    height:16px;
    padding-left:20px;
    color:#000000;
    font:12px "sans serif",tahoma,verdana,helvetica;
}
#LD_message ,#LD_message1
{
    height:15px\9;padding-top:1px\9;
}
#LD_message  ,#LD_message1
{
    *height:16px;*padding-top:0px;
}
#LD_message  ,#LD_message1
{
    _height:16px;_padding-top:0px;
}
#SD_content,#SD_content1{
	height:100%;
}