* {
	padding: 0;
	margin: 0;
	list-style: none
}
html,body {
    font-size: 12px;
    font-family: "宋体";
}
.propertyBodyArea{
	padding:10px 10px 5px 10px;
}
.gatwayCon label{
	height: 18px;
	display: inline-block;
	vertical-align: middle;
}
.gatwayCon{
	margin-bottom: 8px;
}
.gatwayCon input {
    text-align: left;
    height: 24px;
}
.gatwayCon input[type='text']{
	width:140px;
    background:#fff;
    border:1px solid #CACACA;
}
.gatwayCon input[type='button']{
    position:absolute;
    right:16px;
    width:26px;
    height:26px;
    line-height:26px;
    background:#EEE url(../images/skin_icons.png) no-repeat -62px -128px;
    border:1px solid #B6B6B6;
}