.container {
	width: 100%;
}

.row {
	margin: 0px;
}

.ue-menu-right {
	overflow-y: auto;
	overflow-x: hidden;
}

.org-tree {
	float: left;
	width: 32%;
}

#batchdel {
	margin-right: 0px;
}

.ui-dialog-header {
	background-color: #fafafa;
}

.control-label {
	float: left;
	padding-top: 5px;
}

@media ( max-width :768px) {
	.input-group {
		width: 209px;
		display: inline-table;
	}
	.form-control {
		width: 58% !important;
	}
	.form-inline .input-group>.form-control {
		width: auto;
	}
}

@media ( min-width : 768px) {
	.form-inline .input-group>.form-control {
		width: auto;
	}
}

.bread {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	text-align: left;
	padding: 3px 15px 9px 15px;
}
a, a:focus, a:hover, a:active{
	color: #3e99ff;
}