.form-group {
	margin-top:20px;	
}
.bread {
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-align: left;
	padding:0px 0px 7px 15px;
}
a, a:focus, a:hover, a:active{
	color: #3e99ff;
}
.bread a:link {
	color: #0ae;
}
.datetimepicker table tr td span{
    font-size: 13px;
}