html { 
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
}

body{
	font-family:microsoft yahei,arial,simsun,simhei,sans-serif;
	font-size:14px;
	line-height:1.5em;
	margin:auto;
	background:#fefefe;
}
@media only screen and (min-width: 480px) {
body{font-size:14px;}
}

@media only screen and (min-width: 768px) {
body{font-size:16px;}
}

/**超链接样式**/
a{ 
	color: #0645ad; text-decoration:none;
}
/* a:visited{ color: #0b0080; }
 */
a:hover { 
 	color: #06e; 
}
a:active { 
	color:#faa700; 
}
a:focus { 
	outline: thin dotted; 
}
a:hover, a:active { 
	outline: 0; 
}

/**鼠标选中文字后的颜色**/
::-moz-selection {
	background:rgba(255,255,0,0.3);color:#000
}

::selection {
	background:rgba(255,255,0,0.3);color:#000
}

a::-moz-selection {
	background:rgba(255,255,0,0.3);color:#0645ad
}
a::selection {
	background:rgba(255,255,0,0.3);color:#0645ad
}

p {
	margin:0.5em 0;
	text-indent: 2em;
	letter-spacing: 1px;
	line-height: 1.5em;
}




.navbar {
    margin-bottom: 0px;
    border-bottom: 1px solid #DDD;
    background-color: #0BE;
    min-height: 44px;
}

.navbar-static-top {
    border-radius: 0px;
}

.navbar-brand {
    padding-left: 145px;
    background-image: url("../img/login-logo.png");
    background-repeat: no-repeat;
    color: #FFF;
    background-position: 0px 13px;
    height: 44px;
    line-height: 16px;
    margin-left: 30px;
}

.navbar-brand span {
    font-size: 18px;
    color: #DDD;
    margin: auto 10px auto 0px;
}

.headline {
	margin-top: 50px;
}

.framework{
	height: 450px;
}

.framework .title {
	text-align: center;
}
.framework .subtitle{
	text-align: left;
}

#fullpage{
	margin: 0 auto;
	width: 90%;
}

.title {
    display: block;
    text-align: center;
    font-size: 38px;
    font-family: YouYuan ;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.span-font{
	color: #0BE;
}

.subtitle {
    display: block;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #999;
    margin-top: 28px;
}

.intro {
    display: block;
    margin: 40px auto;
}

.section{
	display: block;
	width:100%;
	height: 400px;
	border-bottom: 1px dotted #ddd;
}

.section .headline {
	width: 50%;
}

.section > .pull-left > label {
	text-align: left;
}

.section > .pull-right > .title {
	text-align: right;
}

.section > .pull-right > .subtitle {
	text-align: left;
}


#div_fun {
	background-color: #F6F6F6;
	margin-top: 50px;
	/* height: 350p; //加smalllable  */
	height: 310px;
}

.headp {
	text-align: center;
	font-family: YouYuan ;
	font-size: 38px;
	font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-indent: 0;
    padding-top: 30px;
}

#div_fun label{
	text-align: center;
	display: block;
}

.div_pic {
	text-align: center;
}

.div_pic .sub {
	margin: 0 auto;
	width: 20%;
}

.midtitle {
	font-weight: bold;
	margin-top: 10px;
}
